<%- include('partials/header'); -%>
    <% posts.forEach((post)=> {%>
        <%if((post.title !="about" ) && (post.title !="contact" )){%>
            <h1>
                <%=_.startCase(post.title)%>
            </h1>
            <p>
                <%if(post.title !="home" ){%>
                    <%=`${post.content.substring(0,100)}...`%> <a href="posts/<%=post._id%>">Read More</a>
                        <%} else {%>
                            <%=post.content %>
                                <%} %>
            </p>
            <%}%>
                <%})%>